@media only screen and (max-width: 1510px) {
	.each-question {
		width: 35%;
	}
}
@media only screen and (max-width: 1210px) {
	.each-question {
		width: 30%;
	}
	.block-with-image {
		height: 1024px;
	}
	.similarity-block {
		width: 85%;
	}
}
@media only screen and (max-width: 916px) {
	.questions-blocks {
		width: 90%;
	}
}
@media screen and (max-width: 992px) {
	.advantages-enumeration {
		flex-direction: column;
	}
	.similarity-block {
		width: 70%;
	}
}
@media only screen and (max-width: 696px) {
	.each-question {
		padding: 15px;
		height: 100px;
		width: 100%;
	}
	.each-question > p {
		font-size: 16px;
		line-height: 16px;
	}
	.block-with-image {
    height: 750px;
	}
	.similarity-block {
		padding: 5px;
		text-align: justify;
		width: 95%;
	}
	section {
		align-items: unset;
	}
	.block-with-image {
		width: 95%;
	}
	form > .button {
		width: 250px;    
		align-self: center;
	}
	.enumeration {    
		font-size: 14px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
	.form-item > div {
		max-width: 575px;
		width: 100%;
	}
	
}